<div class="main-container">
  <div class="main-header">
    <header>
      <!-- <h4>SnapCart</h4> -->
      <nav id="navbar-color">
          <a id="link" routerLink="/">HOME</a> | <a id="link" routerLink="/customers">CUSTOMERS</a>
        </nav>
    </header>
    
  </div>
  <router-outlet></router-outlet>
  <!-- <div>
    <app-customers></app-customers>
  </div> -->
  <!-- <div class="main-content">
    <div class="content-left">
      <app-cart
        [cart_items]="cart_items"
        [total_amount]="total_amount"
      ></app-cart>
      <app-keypad></app-keypad>
    </div>
    <div class="content-right">
      <app-products (onAddToCart)="addToCart($event)"></app-products>
    </div>
  </div> -->
  <!-- uncomment below to use footer and also uncomment the css part in css file -->
  <!-- <div class="main-footer">
    <footer>
      <p>Copyright &copy; 2019 Awishcar.com</p>
    </footer>
  </div> -->
</div>
