.main-container {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
  
  .main-header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
  }
  
  header {
    height: 48px;
    text-align: center;
    background-color: #333333;
    color: antiquewhite;
    line-height: 48px;
  }
  
  .main-footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
  
  footer {
    height: 48px;
    line-height: 48px;
    text-align: center;
    background-color: #333333;
    color: antiquewhite;
  }
  
  .main-content {
    position: absolute;
    top: 48px;
    left: 0px;
    right: 0px;
    /* bottom: 40px; [Uncomment this line if using footer and comment the below line] */
    bottom: 0px;
    /* overflow-y: scroll;
    overflow-x: hidden; */
  }
  
  .content-left {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 440px;
    border-right: solid 3px #787878;
    background: #e2e2e2;
  }
  
  .content-right {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 440px;
    /* background: rgb(224, 224, 224); */
    border-left: solid 1px rgb(200, 200, 200);
  }
  