.customer-header {
  background: #6f95db;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 48px;
  line-height: 40px;
  border-bottom: solid 3px rgb(110, 200, 155);
}

.customer-body {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
  position: absolute;
  background-color: aliceblue;
  top: 48px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: left;
}

/* .product-search {
  float: right;
  margin-right: 10px;
} */

.searchbox {
  position: absolute;
  right: 2px;
}

.searchbox input {
  width: 190px;
  height:35px;
  border: 1px solid #cecbcb;
  padding: 8px 20px;
  padding-left: 38px;
  margin-left:850px;
  margin-right: 40px;
  background: url("https://demo2.odoo.com/point_of_sale/static/src/img/search.png")
    no-repeat 15px;
  background-color: white;
  border-radius: 20px;
  font-family: "Lato", "Lucida Grande", Helvetica, Verdana, Arial;
  font-size: 13px;
}

.search-clear {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 11px;
  left: 11px;
  cursor: pointer;
}

#style3.customer-body{
  background-image: url("https://www.google.co.in/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwip8NWe67PjAhW9IbcAHdHkAL4QjRx6BAgBEAU&url=http%3A%2F%2Fwallperio.com%2Fdownload-wp%2F619152543.html&psig=AOvVaw1Q-_8-jby7Gvp01iH6BQTi&ust=1563173964726905"); 
  color:aliceblue;
}

/*
 *  STYLE 3
 */

/* #style-3::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
} */

#style-3::-webkit-scrollbar {
  width: 3px;
  background-color: #f5f5f5;
}

#style-3::-webkit-scrollbar-thumb {
  background-color: #000000;
}

/* #navbr a{
  color:whitesmoke;
  text-decoration: none;
}
#navbr{
  color:#fff;
  margin-top:0px;
  padding-top: 0px;
  margin-left:380px;
} */